<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab5.avdyushkin.tru.pointofsalesimulation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.PayActivity"
            android:label="@string/title_activity_pay"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.AddItem_to_DB_Activity"
            android:label="@string/title_activity_add_item_to__db_"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.RemoveItemFromDB_Activity"
            android:label="@string/title_activity_remove_item_from_db_"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.ShowTransactionHistoryActivity"
            android:label="@string/title_activity_show_transaction_history"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="lab5.avdyushkin.tru.pointofsalesimulation.DetailedHistory"
            android:label="@string/title_activity_detailed_history"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
